
         <div class="login_body">
         <div class="login_box">
            <div class="form-image">
                <span><img height="40px" src="../imagens/rose.png" alt="logo"></span>
<form action="/perfil/subm-edit" method="POST" enctype="multipart/form-data">
                    <div class="input_grup">
                    <h1>Editar perfil</h1>
                    <form action="/perfil/subm-edit" method="POST" enctype="multipart/form-data">
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="file" name="foto" accept="image/png image/jpeg image/jpg"/></div>
                    <br>
                        <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="nome" value="{{nome}}"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="email" value="{{email}}"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="curso" value="{{curso}}"></div>
                    
                    <br>
                    <br>
                    
                    <h1>Escolha as opções que mais se parece com você</h1>
                        <div class="input-box">
                        <label for="musicas" class="names">Músicas</label>
                        <select id="musicas" name="musicas" placeholder="Musicas">
                           <option invalue="selecionar"></option>
                            <option value="Pop" {{#if_eq musicas 'Pop'}}selected{{/if_eq}}>Pop</option>
                            <option value="Rock" {{#if_eq musicas 'Rock'}}selected{{/if_eq}}>Rock</option>
                            <option value="Rap" {{#if_eq musicas 'Rap'}}selected{{/if_eq}}>Rap</option>
                            <option value="Funk" {{#if_eq musicas 'Funk'}}selected{{/if_eq}}>Funk</option>
                            <option value="Indie" {{#if_eq musicas 'Indie'}}selected{{/if_eq}}>Indie</option>
                            <option value="Axé" {{#if_eq musicas 'Axé'}}selected{{/if_eq}}>Axé</option>
                            <option value="Pagode" {{#if_eq musicas 'Pagode'}}selected{{/if_eq}}>Pagode</option>
                            <option value="R&B" {{#if_eq musicas 'R&B'}}selected{{/if_eq}}>R&B</option>
                            <option value="Metal" {{#if_eq musicas 'Metal'}}selected{{/if_eq}}>Metal</option>
                            <option value="Sertanejo" {{#if_eq musicas 'Sertanejo'}}selected{{/if_eq}}>Sertanejo</option>
                        </optgroup>
                    </select>
                        </div>
                        <br>
        
                        <div class="input-box">
                        <label for="jogos" class="names">Jogos</label>
                        <select id="jogos" name="jogos">
                            <option invalue="selecionar"></option>
                            <option value="League of Legends" {{#if_eq jogos 'League of Legends'}}selected{{/if_eq}}>League of Legends</option>
                            <option value="Fall Guys" {{#if_eq jogos 'Fall Guys'}}selected{{/if_eq}}>Fall Guys</option>
                            <option value="GTA" {{#if_eq jogos 'GTA'}}selected{{/if_eq}}>GTA</option>
                            <option value="Call of Duty" {{#if_eq jogos 'Call of Duty'}}selected{{/if_eq}}>Call of Duty</option>
                            <option value="Fortnite" {{#if_eq jogos 'Fortnite'}}selected{{/if_eq}}>Fortnite</option>
                            <option value="DOTA" {{#if_eq jogos 'DOTA'}}selected{{/if_eq}}>Dota</option>
                            <option value="Valorant" {{#if_eq jogos 'Valorant'}}selected{{/if_eq}}>Valorant</option>
                            <option value="Undertale" {{#if_eq jogos 'Undertale'}}selected{{/if_eq}}>Undertale</option>
                            <option value="Minecraft" {{#if_eq jogos 'Minecraft'}}selected{{/if_eq}}>Minecraft</option>
                            <option value="Rocket League" {{#if_eq jogos 'Rocket League'}}selected{{/if_eq}}>Rocket League</option>
                        </optgroup>
                    </select>
                        </div>
                        <br>
        
                        <div class="input-box">
                        <label for="filmes" class="names">Filmes</label>
                        <select id="filmes" name="filmes" selected>
                            <option invalue="selecionar"></option>
                            <option value="Ação e Aventura" {{#if_eq filmes 'Ação e Aventura'}}selected{{/if_eq}}>Ação e Aventura</option>
                            <option value="Drama" {{#if_eq filmes 'Drama'}}selected{{/if_eq}}>Drama</option>
                            <option value="Comédia Romantica" {{#if_eq filmes 'Comédia Romantica'}}selected{{/if_eq}}>Comédia romântica</option>
                            <option value="Ficção Cientifica" {{#if_eq filmes 'Ficção Cientifica'}}selected{{/if_eq}}>Ficção científica</option>
                            <option value="Terror" {{#if_eq filmes 'Terror'}}selected{{/if_eq}}>Terror</option>
                            <option value="Comedia" {{#if_eq filmes 'Comedia'}}selected{{/if_eq}}>Comédia</option>
                            <option value="Romance" {{#if_eq filmes 'Romance'}}selected{{/if_eq}}>Romance</option>
                            <option value="Suspense" {{#if_eq filmes 'Suspense'}}selected{{/if_eq}}>Suspense</option>
                            <option value="Animação" {{#if_eq filmes 'Animação'}}selected{{/if_eq}}>Animação</option>
                            <option value="Documentário" {{#if_eq filmes 'Documentário'}}selected{{/if_eq}}>Documentário</option>
                        </optgroup>
                    </select>
                        </div>
                        <br>
                        
                        <div class="input-box">
                        <label for="livros" class="names">Livros</label>
                        <select id="livros" name="livros">
                            <option invalue="selecionar"></option>
                                <option value="Não Ficção" {{#if_eq livros 'Não Ficção'}}selected{{/if_eq}}>Não Ficção</option>
                                <option value="Ficção Literária" {{#if_eq livros 'Ficção Literária'}}selected{{/if_eq}}>Ficção literária</option>
                                <option value="Fantasia" {{#if_eq livros 'Fantasia'}}selected{{/if_eq}}>Fantasia</option>
                                <option value="Suspense" {{#if_eq livros 'Suspense'}}selected{{/if_eq}}>Suspense</option>
                                <option value="Ficção Cientifica" {{#if_eq livros 'Ficção Cientifica'}}selected{{/if_eq}}>Ficção científica</option>
                                <option value="Poesia" {{#if_eq livros 'Poesia'}}selected{{/if_eq}}>Poesia</option>
                                <option value="Horror" {{#if_eq livros 'Horror'}}selected{{/if_eq}}>Horror</option>
                                <option value="Romance" {{#if_eq livros 'Romance'}}selected{{/if_eq}}>Romance</option>
                                <option value="Ação e Aventura" {{#if_eq livros 'Ação e Aventura'}}selected{{/if_eq}}>Ação e Aventura</option>
                                <option value="Distopia" {{#if_eq livros 'Distopia'}}selected{{/if_eq}}>Distopia</option>
                            </optgroup>
                        </select>
                              </div>
                              <br>
        
                        <div class="input-box">
                        <label for="esportes" class="names">Esportes</label>
                        <select id="esportes" name="esportes">
                            <option invalue="selecionar"></option>
                                    <option value="Futebol" {{#if_eq esportes 'Futebol'}}selected{{/if_eq}}>Futebol</option>
                                    <option value="Voleibol" {{#if_eq esportes 'Voleibol'}}selected{{/if_eq}}>Voleibol</option>
                                    <option value="Basquete" {{#if_eq esportes 'Basquete'}}selected{{/if_eq}}>Basquete</option>
                                    <option value="Esportes Automobilisticos" {{#if_eq esportes 'Esportes Automobilisticos'}}selected{{/if_eq}}>Esportes automobilísticos</option>
                                    <option value="MMA" {{#if_eq esportes 'MMA'}}selected{{/if_eq}}>MMA</option>
                                    <option value="Tênis" {{#if_eq esportes 'Tênis'}}selected{{/if_eq}}>Tênis</option>
                                    <option value="Futebol Americano" {{#if_eq esportes 'Futebol Americano'}}selected{{/if_eq}}>Futebol americano</option>
                                    <option value="Rugby" {{#if_eq esportes 'Rugby'}}selected{{/if_eq}}>Rugby</option>
                                    <option value="Ginástica" {{#if_eq esportes 'Ginástica'}}selected{{/if_eq}}>Ginástica</option>
                                    <option value="Atletismo" {{#if_eq esportes 'Atletismo'}}selected{{/if_eq}}>Atletismo</option>
                                </optgroup>
                            </select>
                        </div>
                        <br>
                    
                        <div class="input-box">
                        <label for="educação" class="names">Educação</label>
                        <select id="educação" name="educação">
                            <option invalue="selecionar"></option>
                                        <option value="Matemática" {{#if_eq educacao 'Matemática'}}selected{{/if_eq}}>Matemática</option>
                                        <option value="Química" {{#if_eq educacao 'Química'}}selected{{/if_eq}}>Química</option>
                                        <option value="Física" {{#if_eq educacao 'Física'}}selected{{/if_eq}}>Física</option>
                                        <option value="Programação" {{#if_eq educacao 'Programação'}}selected{{/if_eq}}>Programação</option>
                                        <option value="Eletrônica" {{#if_eq educacao 'Eletrônica'}}selected{{/if_eq}}>Eletrônica</option>
                                        <option value="Filosofia" {{#if_eq educacao 'Filosofia'}}selected{{/if_eq}}>Filosofia</option>
                                        <option value="Astronomia" {{#if_eq educacao 'Astronomia'}}selected{{/if_eq}}>Astronomia</option>
                                        <option value="Automotiva" {{#if_eq educacao 'Automotiva'}}selected{{/if_eq}}>Automotiva</option>
                                        <option value="Geografia" {{#if_eq educacao 'Geografia'}}selected{{/if_eq}}>Geografia</option>
                                        <option value="Biologia" {{#if_eq educacao 'Biologia'}}selected{{/if_eq}}>Biologia</option>
                                    </optgroup>
                    </select>
                        </div>
                        <br>
                        <br>

                    <h1>Deixe aqui o link das suas redes sociais para que suas conexões possam entrar em contato com você</h1>
                        <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="whatsapp" value="{{whatsapp}}"></div>
                        <br>
                        <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="discord" value="{{discord}}"></div>
                    <br>
                         <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="instagram" value="{{instagram}}"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="twitter" value="{{twitter}}"></div>
                    <br>
                    <br>
                    <div class="pronto_button">
                        <button type="submit">Tudo pronto!</button></div>
 
                </form>
         </div>
        </div>