
         <div class="login_body">
         <div class="login_box">
            <div class="form-image">
                <span><img height="40px" src="../imagens/rose.png" alt="logo"></span>
<form action="/perfil/subm-edit" method="POST">
                    <div class="input_grup">
                    <h1>Editar perfil</h1>
                    <form action="/perfil/subm-edit" method="POST">
                        <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="nome" value="{{nome}}"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="email" value="{{email}}"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="curso" value="{{curso}}"></div>
                    
                    <br>
                    <br>
                    
                    <h1>Escolha as opções que mais se parece com você</h1>
                        <div class="input-box">
                        <label for="musicas" class="names">Músicas</label>
                        <select id="musicas" name="musicas" placeholder="Musicas">
                           <option invalue="selecionar"></option>
                            <option id="pop" value="pop" {{#if_eq musicas 'pop'}}selected{{/if_eq}}>Pop</option>
                            <option value="rock" {{#if_eq musicas 'rock'}}selected{{/if_eq}}>Rock</option>
                            <option value="rap" {{#if_eq musicas 'rap'}}selected{{/if_eq}}>Rap</option>
                            <option value="funk" {{#if_eq musicas 'funk'}}selected{{/if_eq}}>Funk</option>
                            <option value="indie" {{#if_eq musicas 'indie'}}selected{{/if_eq}}>Indie</option>
                            <option value="axé" {{#if_eq musicas 'axé'}}selected{{/if_eq}}>Axé</option>
                            <option value="pagode" {{#if_eq musicas 'pagode'}}selected{{/if_eq}}>Pagode</option>
                            <option value="r&b" {{#if_eq musicas 'r&b'}}selected{{/if_eq}}>R&B</option>
                            <option value="metal" {{#if_eq musicas 'metal'}}selected{{/if_eq}}>Metal</option>
                            <option value="sertanejo" {{#if_eq musicas 'sertanejo'}}selected{{/if_eq}}>Sertanejo</option>
                        </optgroup>
                    </select>
                        </div>
                        <br>
        
                        <div class="input-box">
                        <label for="jogos" class="names">Jogos</label>
                        <select id="jogos" name="jogos">
                            <option invalue="selecionar"></option>
                            <option value="league of legends" {{#if_eq jogos 'league of legends'}}selected{{/if_eq}}>League of Legends</option>
                            <option value="fall guys" {{#if_eq jogos 'fall guys'}}selected{{/if_eq}}>Fall Guys</option>
                            <option value="gta" {{#if_eq jogos 'gta'}}selected{{/if_eq}}>GTA</option>
                            <option value="call of duty" {{#if_eq jogos 'call of duty'}}selected{{/if_eq}}>Call of Duty</option>
                            <option value="fortnite" {{#if_eq jogos 'fortnite'}}selected{{/if_eq}}>Fortnite</option>
                            <option value="dota" {{#if_eq jogos 'dota'}}selected{{/if_eq}}>Dota</option>
                            <option value="valorant" {{#if_eq jogos 'valorant'}}selected{{/if_eq}}>Valorant</option>
                            <option value="undertale" {{#if_eq jogos 'undertale'}}selected{{/if_eq}}>Undertale</option>
                            <option value="minecraft" {{#if_eq jogos 'minecraft'}}selected{{/if_eq}}>Minecraft</option>
                            <option value="rocket league" {{#if_eq jogos 'rocket league'}}selected{{/if_eq}}>Rocket League</option>
                        </optgroup>
                    </select>
                        </div>
                        <br>
        
                        <div class="input-box">
                        <label for="filmes" class="names">Filmes</label>
                        <select id="filmes" name="filmes" selected>
                            <option invalue="selecionar"></option>
                            <option value="ação e aventura" {{#if_eq filmes 'ação e aventura'}}selected{{/if_eq}}>Ação e Aventura</option>
                            <option value="drama" {{#if_eq filmes 'drama'}}selected{{/if_eq}}>Drama</option>
                            <option value="comédia romantica" {{#if_eq filmes 'comédia romantica'}}selected{{/if_eq}}>Comédia romântica</option>
                            <option value="ficção cientifica" {{#if_eq filmes 'ficção cientifica'}}selected{{/if_eq}}>Ficção científica</option>
                            <option value="terror" {{#if_eq filmes 'terror'}}selected{{/if_eq}}>Terror</option>
                            <option value="comedia" {{#if_eq filmes 'comedia'}}selected{{/if_eq}}>Comédia</option>
                            <option value="romance" {{#if_eq filmes 'romance'}}selected{{/if_eq}}>Romance</option>
                            <option value="suspense" {{#if_eq filmes 'suspense'}}selected{{/if_eq}}>Suspense</option>
                            <option value="animação" {{#if_eq filmes 'animação'}}selected{{/if_eq}}>Animação</option>
                            <option value="documentário" {{#if_eq filmes 'documentário'}}selected{{/if_eq}}>Documentário</option>
                        </optgroup>
                    </select>
                        </div>
                        <br>
                        
                        <div class="input-box">
                        <label for="livros" class="names">Livros</label>
                        <select id="livros" name="livros">
                            <option invalue="selecionar"></option>
                                <option value="não ficção" {{#if_eq livros 'não ficção'}}selected{{/if_eq}}>Não Ficção</option>
                                <option value="ficção literária" {{#if_eq livros 'ficção literária'}}selected{{/if_eq}}>Ficção literária</option>
                                <option value="fantasia" {{#if_eq livros 'fantasia'}}selected{{/if_eq}}>Fantasia</option>
                                <option value="suspense" {{#if_eq livros 'suspense'}}selected{{/if_eq}}>Suspense</option>
                                <option value="ficção cientifica" {{#if_eq livros 'ficção cientifica'}}selected{{/if_eq}}>Ficção científica</option>
                                <option value="poesia" {{#if_eq livros 'poesia'}}selected{{/if_eq}}>Poesia</option>
                                <option value="horror" {{#if_eq livros 'horror'}}selected{{/if_eq}}>Horror</option>
                                <option value="romance" {{#if_eq livros 'romance'}}selected{{/if_eq}}>Romance</option>
                                <option value="ação e aventura" {{#if_eq livros 'ação e aventura'}}selected{{/if_eq}}>Ação e Aventura</option>
                                <option value="distopia" {{#if_eq livros 'distopia'}}selected{{/if_eq}}>Distopia</option>
                            </optgroup>
                        </select>
                              </div>
                              <br>
        
                        <div class="input-box">
                        <label for="esportes" class="names">Esportes</label>
                        <select id="esportes" name="esportes">
                            <option invalue="selecionar"></option>
                                    <option value="futebol" {{#if_eq esportes 'futebol'}}selected{{/if_eq}}>Futebol</option>
                                    <option value="voleibol" {{#if_eq esportes 'voleibol'}}selected{{/if_eq}}>Voleibol</option>
                                    <option value="basquete" {{#if_eq esportes 'basquete'}}selected{{/if_eq}}>Basquete</option>
                                    <option value="esportes automobilisticos" {{#if_eq esportes 'esportes automobilisticos'}}selected{{/if_eq}}>Esportes automobilísticos</option>
                                    <option value="mma" {{#if_eq esportes 'mma'}}selected{{/if_eq}}>MMA</option>
                                    <option value="tenis" {{#if_eq esportes 'tenis'}}selected{{/if_eq}}>Tênis</option>
                                    <option value="futebol americano" {{#if_eq esportes 'futebol americano'}}selected{{/if_eq}}>Futebol americano</option>
                                    <option value="rugby" {{#if_eq esportes 'rugby'}}selected{{/if_eq}}>Rugby</option>
                                    <option value="ginastica" {{#if_eq esportes 'ginastica'}}selected{{/if_eq}}>Ginástica</option>
                                    <option value="atletismo" {{#if_eq esportes 'atletismo'}}selected{{/if_eq}}>Atletismo</option>
                                </optgroup>
                            </select>
                        </div>
                        <br>
                    
                        <div class="input-box">
                        <label for="educação" class="names">Educação</label>
                        <select id="educação" name="educação">
                            <option invalue="selecionar"></option>
                                        <option value="matematica" {{#if_eq educacao 'matematica'}}selected{{/if_eq}}>Matemática</option>
                                        <option value="quimica" {{#if_eq educacao 'quimica'}}selected{{/if_eq}}>Química</option>
                                        <option value="fisica" {{#if_eq educacao 'fisica'}}selected{{/if_eq}}>Física</option>
                                        <option value="programação" {{#if_eq educacao 'programação'}}selected{{/if_eq}}>Programação</option>
                                        <option value="eletronica" {{#if_eq educacao 'eletronica'}}selected{{/if_eq}}>Eletrônica</option>
                                        <option value="filosofia" {{#if_eq educacao 'filosofia'}}selected{{/if_eq}}>Filosofia</option>
                                        <option value="astronomia" {{#if_eq educacao 'astronomia'}}selected{{/if_eq}}>Astronomia</option>
                                        <option value="automotiva" {{#if_eq educacao 'automotiva'}}selected{{/if_eq}}>Automotiva</option>
                                        <option value="geografia" {{#if_eq educacao 'geografia'}}selected{{/if_eq}}>Geografia</option>
                                        <option value="biologia" {{#if_eq educacao 'biologia'}}selected{{/if_eq}}>Biologia</option>
                                    </optgroup>
                    </select>
                        </div>
                        <br>
                        <br>

                    <h1>Deixe aqui o link das suas redes sociais para que suas conexões possam entrar em contato com você</h1>
                        <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="whatsapp" value="{{whatsapp}}"></div>
                        <br>
                        <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="discord" value="{{discord}}"></div>
                    <br>
                         <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="instagram" value="{{instagram}}"></div>
                    <br>
                    <div class="input-box">
                        <label class="names"></label>
                        <input type="text" name="twitter" value="{{twitter}}"></div>
                    <br>
                    <br>
                    <div class="pronto_button">
                        <button type="submit">Tudo pronto!</button></div>
 
                </form>
         </div>
        </div>