<h1>{{nome}}</h1>
<h2>{{curso}}</h2>

<h3>Interesses</h3>

Música: {{musicas}} <br>
Filmes: {{filmes}}<br>
Esportes: {{esportes}} <br>
Educação: {{educação}} <br>
Livros: {{livros}} <br>
Jogos: {{jogos}}

