
<form>

         <div class="login_body">
         <div class="login_box">
            <div>
        {{#if foto}}
        <img class="form-image" src="imagens/uploaded/{{matricula}}{{foto}}" alt="Foto">
        {{else}}
        <img class="form-image" src="imagens/pessoa.png" alt="">
        {{/if}}
        </div>
        <div> <h1>{{nome}}</h1>  
                        <h2>{{curso}}</h2>

                        <div class="feed-button">
                            <button><a href="/feed">Feed</a></button>
                            
                        <div class="grupo-button">
                            <button><a href="/prechat">Chat</a></button><div class="login-button">
                                <button><a href="/perfil/edit">Configurações</a></button>
                                
                            <div class="grupo-button">
                                <button><a href="/logout">Sair</a></button><div class="login-button">
                                
                        </div>

                    
                
                    </div>

                       
                    </div>
                    

                  
                    </form>
             
                </form>
      
        </div>
