
        <form>

    <div class="login_body">
           

    <div><img class="form-image" src="assets/img/user.png" alt="">

    <h1>{{nome}}</h1>
    <h2>{{curso}}</h2>

   <div class="linha"></div>
    
    <div><h2>Interesses</h2></div>
    
    <div><h3>Educação: {{educação}}</h3>
        <h3>Música: {{musicas}}</h3>
    <h3>Filmes: {{filmes}}</h3>
    <h3>Livros: {{livros}}</h3>
    <h3>Esporte: {{esportes}}</h3>
    <h3>Jogos: {{jogos}}</h3>

        <h2>Redes Socias</h2>

        <h3>Whatsapp: {{whatsapp}}</h3>
        <h3>Instagram: {{instagram}}</h3>
        <h3>Twitter: {{twitter}}</h3>
        <h3>Discord: {{discord}}</h3>
        <br>
        <br>
</div>
     </div>
        </div>
    </div>
</div>
    </form>
